[viewBag]
==
<footer class="site-footer">
	<div class="container">
		<div class="row">

			<div class="col-md-9 col-md-push-3">
				<div class="row">
					<div class="col-md-9">
						<nav class="footer-menu">
						    
						    {% component 'menu2' %}
						
						</nav>
					</div>
					<div class="col-md-3">
						
							<div class="socials">
								<a href="#"> 
									<img src="{{ 'assets/images/facebook-icon.png'|theme }}" alt=""> 
									<span>Мы в Instagram</span>
								</a>
								<br>
								<a href="#"> 
									<img src="{{ 'assets/images/instagram-icon.png'|theme }}" alt=""> 
									<span>Мы в Facebook</span>
								</a>
							</div>
						
					</div>
				</div>
				<hr>
				<div class="row fsz12">
					<div class="col-md-9">
						<div class="footer-columns btn-line-height">
							<div>
								<span>998 71 365 60 06</span>
							</div>
							<div>
								<a href="mailto:distribution@cad.uz">distribution@cad.uz</a>
							</div>
							<div>
								<span>ул. Юнусраджаби, дом 65</span>
							</div>
						</div>
						
					</div>
					<div class="col-md-3">
						<div class="text-right-md">
							<a class="btn btn-block btn-white ajax-popup-link" href="/contact-popup">
								Заказать звонок
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-md-pull-9">
				<div class="footer-copyright">
					2013–2019 © <br/>
					Central Asia Distribution
				</div>
			</div>
		</div>
	</div>
</footer>