[viewBag]
==
<div id="overlay-menu">
	<form method="GET" action="{{'products'|page}}" class="search-mobile form-group has-feedback">
	    <input type="text" name="quary" class="form-control" placeholder="Поиск по сайту">
	    <button type="submit" class="no-appearance glyphicon glyphicon-search form-control-feedback"></button>
	</form>
	
	<div class="vertical-center-block">
		<div class="vertical-center-block-cell">
			
			
			<ul>
				<li><a href="#">О нас</a></li>
				<li><a href="#">Продукция</a></li>
				<li><a href="#">Сотрудничество</a></li>
				<li><a href="#">Пресс-центр</a></li>
				<li><a href="#">Акции</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>

			<a class="btn btn-red phm btn-lg ajax-popup-link" href="call-popup.html">Заказать звонок</a>
		</div>
	</div>
</div>

<div class="overlay-closer"></div>